<div class="side-bar">
  <ul class='days'>
    <li class="date-btn active">
      <%= link_to '' do %>
        <p><%= Date.today.strftime("%B %d") %></p>
        <p class='day'><%= Date.today.strftime("%A") %></p>
      <% end %>
    </li>
    <li class="date-btn radius-top">
      <%= link_to '' do %>
        <p><%= (Date.today + 1).strftime("%B %d") %></p>
        <p class='day'><%= (Date.today + 1).strftime("%A") %></p>
      <% end %>
    </li>
    <li class="date-btn">
      <%= link_to '' do %>
        <p><%= (Date.today + 2).strftime("%B %d") %></p>
        <p class='day'><%= (Date.today + 2).strftime("%A") %></p>
      <% end %>
    </li>
    <li class="date-btn">
      <%= link_to '' do %>
        <p><%= (Date.today + 3).strftime("%B %d") %></p>
        <p class='day'><%= (Date.today + 3).strftime("%A") %></p>
      <% end %>
    </li>
    <li class="date-btn">
      <%= link_to '' do %>
        <p><%= (Date.today + 4).strftime("%B %d") %></p>
        <p class='day'><%= (Date.today + 4).strftime("%A") %></p>
      <% end %>
    </li>
    <li class="date-btn">
      <%= link_to '' do %>
        <p><%= (Date.today + 5).strftime("%B %d") %></p>
        <p class='day'><%= (Date.today + 5).strftime("%A") %></p>
      <% end %>
    </li>
  </ul>
</div>
